* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

main {
  height: 100vh;
  background: linear-gradient(to right top, #091f1b, #3a5a5f);
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-screen {
  height: 80vh;
  width: 80vw;
  min-height: 400px;
  min-width: 400px;
  background: linear-gradient(to right top, rgba(0, 0, 0, 0.8), rgba(139, 139, 139, 0.4));
  filter: blur(30);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
}

.description {
  flex: 1;
  height: 100%;
  background: linear-gradient(to right top, rgba(0, 0, 0, 0.8), rgba(139, 139, 139, 0.4));
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  padding: 20px;
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
.game {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.genius {
  background: rgb(10, 11, 26);
  height: 400px;
  width: 400px;
  border-radius: 50%;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
}

#green {
  background: linear-gradient(to right top, rgb(3, 128, 3), rgb(122, 247, 122));
  height: 48%;
  width: 48%;
  border-top-left-radius: 100%;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
#green::after {
  content: "";
  background: rgb(10, 11, 26);
  width: 45%;
  height: 45%;
  border-top-left-radius: 100%;
  position: absolute;
  right: 0%;
  bottom: 0%;
  cursor: default;
}


#red {
  background: linear-gradient(to left top, rgb(212, 17, 17), rgb(231, 112, 112));
  height: 48%;
  width: 48%;
  border-top-right-radius: 100%;
  overflow: hidden;
  position: relative;
}
#red::after {
  content: "";
  background: rgb(10, 11, 26);
  width: 45%;
  height: 45%;
  border-top-right-radius: 100%;
  position: absolute;
  left: 0%;
  bottom: 0%;
  cursor: default;
}

#yellow {
  background: linear-gradient(to left top, rgb(197, 197, 11), rgb(247, 247, 115));
  height: 48%;
  width: 48%;
  border-bottom-left-radius: 100%;
  overflow: hidden;
  position: relative;
}
#yellow::after {
  content: "";
  background: rgb(10, 11, 26);
  width: 45%;
  height: 45%;
  border-bottom-left-radius: 100%;
  position: absolute;
  top: 0%;
  right: 0%;
  cursor: default;
}

#blue {
  background: linear-gradient(to right top, rgb(5, 5, 172), rgb(99, 99, 238));
  height: 48%;
  width: 48%;
  border-bottom-right-radius: 100%;
  overflow: hidden;
  position: relative;
}
#blue::after {
  content: "";
  background: rgb(10, 11, 26);
  width: 45%;
  height: 45%;
  border-bottom-right-radius: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  cursor: default;
}


#green.active {
  background: linear-gradient(to top left, white, green);
  box-shadow: -4px -4px 5px green;
  cursor: pointer;
}
#red.active {
  background: linear-gradient(to top right, white, red);
  box-shadow: 4px -4px 5px red;
  cursor: pointer;
}
#yellow.active {
  background: linear-gradient(to bottom left, white, yellow);
  box-shadow: -4px 4px 5px yellow;
  cursor: pointer;
}
#blue.active {
  background: linear-gradient(to bottom right, white, blue);
  box-shadow: 4px 4px 5px blue;
  cursor: pointer;
}



.exe {
  position: absolute;
  bottom: 0;
  right: 0;
}