* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

*::-ms-value {background: none; color: #42413D;}

main {
  height: 100vh;
  background: linear-gradient(to right top, #091f1b, #3a5a5f);
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-screen {
  height: 80vh;
  width: 80vw;
  filter: blur(30);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
}

.description {
  flex: 1;
  height: 100%;
  padding: 20px;
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5em;
}
.disabled {
  pointer-events: none;
  display: none;
}

.genius {
  background: rgb(10, 11, 26);
  height: 400px;
  width: 400px;
  border-radius: 50%;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}

@media only screen and (max-width: 600px) {
  .genius {
    height: 300px;
    width: 300px;
    padding: 20px;
  }
}
@media only screen and (max-width: 400px) {
  .genius {
    height: 200px;
    width: 200px;
    padding: 10px;
  }
}

.g-button {
  height: 50%;
  width: 50%;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.g-button:focus-visible {
  outline: none;
}

#green {
  background: linear-gradient(to right top, rgb(3, 128, 3), rgb(122, 247, 122));
  border-top-left-radius: 100%;
}
#red {
  background: linear-gradient(to left top, rgb(212, 17, 17), rgb(231, 112, 112));
  border-top-right-radius: 100%;
}
#yellow {
  background: linear-gradient(to left top, rgb(197, 197, 11), rgb(247, 247, 115));
  border-bottom-left-radius: 100%;
}
#blue {
  background: linear-gradient(to right top, rgb(5, 5, 172), rgb(99, 99, 238));
  border-bottom-right-radius: 100%;
}
#center {
  background: rgb(10, 11, 26);
  border-radius: 50%;
  position: absolute;
  pointer-events: visiblePainted;
  cursor: no-drop;
}
#center div {
  width: 90%;
  height: 90%;
  background-color: #333f40;
  border-radius: 50%;
  margin: 5%;
}
h3 {
  color: white;
}

.hover {
  cursor: pointer;
  box-shadow: 0px 0px 15px white;
}
#green.active {
  background: linear-gradient(to top left, white, green);
  box-shadow: 0px 0px 5px green;
}
#red.active {
  background: linear-gradient(to top right, white, red);
  box-shadow: 0px 0px 5px red;
}
#yellow.active {
  background: linear-gradient(to bottom left, white, yellow);
  box-shadow: 0px 0px 5px yellow;
}
#blue.active {
  background: linear-gradient(to bottom right, white, blue);
  box-shadow: 0px 0px 5px blue;
}

button {
  border-radius: .5em;
  padding: 10px 25px 10px 25px;
  background-color: green;
  color: white;
  border: 1px solid transparent;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 22px;
}

button:hover {
  cursor: pointer;
  background-color: rgb(102, 143, 102);
}