* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html
{
  -webkit-tap-highlight-color:transparent;
}

:root {
  --green: rgb(3, 128, 3);
  --green-to: rgb(122, 247, 122);
  --green-active: green;
  --red: rgb(212, 17, 17);
  --red-to: rgb(231, 112, 112);
  --red-active: red;
  --yellow: rgb(197, 197, 11);
  --yellow-to: rgb(247, 247, 115);
  --yellow-active: yellow;
  --blue: rgb(5, 5, 172);
  --blue-to: rgb(99, 99, 238);
  --blue-active: blue;
  --genius-color: rgb(10, 11, 26);
}

main {
  height: 100vh;
  background: linear-gradient(to right top, #091f1b, #3a5a5f);
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-screen {
  height: 80vh;
  width: 80vw;
  filter: blur(30);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
}

.description {
  flex: 1;
  height: 100%;
  padding: 20px;
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5em;
}
.disabled {
  pointer-events: none;
  display: none;
}

.genius {
  background: var(--genius-color);
  height: 400px;
  width: 400px;
  border-radius: 50%;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}

@media only screen and (max-width: 600px) {
  .genius {
    height: 300px;
    width: 300px;
    padding: 20px;
  }
}
@media only screen and (max-width: 400px) {
  .genius {
    height: 200px;
    width: 200px;
    padding: 10px;
  }
}

.g-button {
  height: 50%;
  width: 50%;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.g-button:focus-visible {
  outline: none;
}

#green {
  background: linear-gradient(to right top, var(--green), var(--green-to));
  border-top-left-radius: 100%;
}
#red {
  background: linear-gradient(to left top, var(--red), var(--red-to));
  border-top-right-radius: 100%;
}
#yellow {
  background: linear-gradient(to left top, var(--yellow), var(--yellow-to));
  border-bottom-left-radius: 100%;
}
#blue {
  background: linear-gradient(to right top, var(--blue), var(--blue-to));
  border-bottom-right-radius: 100%;
}
#center {
  background: rgb(10, 11, 26);
  border-radius: 50%;
  position: absolute;
  pointer-events: visiblePainted;
  cursor: no-drop;
}
#center div {
  width: 90%;
  height: 90%;
  /* background-color: #333f40; */
  background-color: var(--genius-color);
  border-radius: 50%;
  margin: 5%;
}
h3 {
  font-size: 24px;
  color: white;
}

.hover {
  cursor: pointer;
  box-shadow: 0px 0px 15px white;
}
#green.active {
  background: linear-gradient(to top left, white, var(--green-active));
  box-shadow: 0px 0px 5px var(--green-active);
}
#red.active {
  background: linear-gradient(to top right, white, var(--red-active));
  box-shadow: 0px 0px 5px var(--red-active);
}
#yellow.active {
  background: linear-gradient(to bottom left, white, var(--yellow-active));
  box-shadow: 0px 0px 5px var(--yellow-active);
}
#blue.active {
  background: linear-gradient(to bottom right, white, var(--blue-active));
  box-shadow: 0px 0px 5px var(--blue-active);
}

button {
  border-radius: .5em;
  padding: 10px 25px 10px 25px;
  background-color: var(--green);
  color: white;
  border: 1px solid transparent;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 22px;
}

button:hover {
  cursor: pointer;
  background-color: var(--green-to);
}